__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.venv
venv/
ENV/
env.bak/
venv.bak/
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
alembic.ini
README.md
test_main.py
pytest.ini
frontend/
.pytest_cache/
.coverage
htmlcov/
